
<div class="container">
    <h4>Login</h4>
    <form action="#/admin" >
        <div class="login-input">
            <input id="username" type="text" name="username" required placeholder="Username"/>
        </div>
        <div class="login-input">
            <input id="password" type="password" name="password" required placeholder="Password"/>
        </div>
        <div class="login-input">
            <button id="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>