<div class="container">
    <h4>Register</h4>
    <form>
        <div class="login-input">
            <input id="firstName" type="text" name="firstName" required placeholder="First Name"/>
        </div>
        <div class="login-input">
            <input id="lasttName" type="text" name="lasttName" required placeholder="Last Name"/>
        </div>
        <div class="login-input">
            <input id="email" type="email" name="emailAddress" required placeholder="Email Address"/>
        </div>
        <div class="login-input">
            <input id="username" type="text" name="username" required placeholder="Username"/>
        </div>
        <div class="login-input">
            <input id="password" type="password" name="password" required placeholder="Password"/>
        </div>
        <div class="login-input">
            <button id="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>