<section class="container" ng-controller="MenuDisplayController">
    <h3>Appetizers</h3>
    <div id="menuContainer" >
        <div ng-repeat="menuItem in menuArray | filter: 'Appetizers'">
            <div class='menu-item-container well'>
                <p class='menu-item-name'>{{menuItem.name }}</p>
                <p class='menu-item-price'>{{ menuItem.price | currency}}</p>
                <p class='menu-item-description'>{{ menuItem.description }}</p>
            </div>
        </div>
    </div>
</section>