<div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#/home">Home</a></li>
        <li role="presentation" ><a href="#/appetizers">Appetizers</a></li>
        <li role="presentation" ><a href="#/salads">Salads</a></li>
        <li role="presentation" ><a href="#/burgers">Burgers</a></li>
        <li role="presentation" ><a href="#/sandwiches">Sandwiches</a></li>
        <li role="presentation" ><a href="#/kids-menu">Kids Menu</a></li>
    </ul>
    <ul class="nav nav-pills" style="float: right; position: relative; margin-top: -40px;">
        <li role="presentation" class="active">
            <a href="#/shopping-cart">Cart&nbsp;(&nbsp;{{currentCart.length}}&nbsp;)</a>
        </li>
    </ul>
</div>
